.button{
    background-color: rgb(147, 231, 21);
    color: rgb(255, 255, 255);
    border: 2px solid #4CAF50;
    font-size: 1rem;
    transition-duration: 0.3s;
}

.button:hover{
    font-size: 1.25rem;
    background-color: #4CAF50;
    color:white;
}

h1{
    color: white;
    border-color: blue;
}